<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1,user-scalable=no"
    />
    <title>Esri Carpool</title>

    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.13/esri/themes/light/main.css"
    />

    <script src="https://js.arcgis.com/4.13/"></script>
    <style>
      html,
      body {
        font-size: 14px;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      .action {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
      }
    </style>
    <script>
      require([
        "esri/portal/Portal",
        "esri/identity/OAuthInfo",
        "esri/identity/IdentityManager"
      ], function(Portal, OAuthInfo, esriId) {
        var personalPanelElement = document.getElementById("personalizedPanel");
        var userIdElement = document.getElementById("userId");

        var info = new OAuthInfo({
          appId: "n5A1575tmQq5eFPd",
          popup: false
        });
        esriId.registerOAuthInfos([info]);
        esriId.getCredential(info.portalUrl + "/sharing");
        esriId
          .checkSignInStatus(info.portalUrl + "/sharing")
          .then(function() {
            initApp();
          })
          .catch(function() {
            // Anonymous view
            personalPanelElement.style.display = "none";
          });

        document
          .getElementById("sign-out")
          .addEventListener("click", function() {
            esriId.destroyCredentials();
            window.location.reload();
          });

        function initApp() {
          var portal = new Portal();
          // Setting authMode to immediate signs the user in once loaded
          portal.authMode = "immediate";
          // Once loaded, user is signed in
          portal.load().then(function() {
          
            userIdElement.innerHTML = portal.user.username;
            personalPanelElement.style.display = "block";
          });
        }
      });
    </script>
  </head>

  <body>
    <div
      id="personalizedPanel"
      style="display: none; padding: 5px; text-align: center;"
    >
      Welcome <span id="userId" style="font-weight: bold;"></span> &nbsp;-&nbsp;
      <span id="sign-out" class="action">Sign Out</span>
    </div>
  </body>
</html>
