body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF8EB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-orange {
  background-color: #FFAA00;
  border-color: #FFF8EB;
}

#bodyComp {
  margin:40px;
  
}
#viewDiv {
  padding: 0;
  margin: 0;
  height: 275px;
  width: 100%;
}


#resultComp {
  background-color: white;
  margin:40px;
  border: 2px solid #5cb85c;
  border-radius: 5px;
}